<!-- <template id="info-t">
  <div class="form-group mt-1" id="info">
    <label>初始位置</label><button id="saveButton" class="btn btn-primary btn-sm float-right" (click)="savePoint()">保存</button><br>
    <label>纬度：<span id="lat_label">{{baiduMap.gpsValueSaved.lat}}</span></label><br>
    <label>经度：<span id="lon_label">{{baiduMap.gpsValueSaved.lon}}</span></label><br>
    <textarea id="gpsText" class="form-control" style="height:190px;">{{baiduMap.gpsInfo}} </textarea>
  </div>
</template> -->


<div id="allmap"></div>
